 body{
      height: 100vh;
      background-image: url('../Img/pngfondo.png');
      background-size: cover;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-box{
      width: 380px;
      background: #5e340450;
      padding: 40px;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
    }

    .logo{
      margin-bottom: 30px;
    }

    .logo p{
      color: #ffffff;
      font-size: 25px;
      margin-top: 5px;
    }

    .icon{
      font-size: 60px;
      margin-bottom: 15px;
    }

    form{
      margin-top: 20px;
    }

    label{
      color: white;
      display: block;
      text-align: left;
      margin-bottom: 8px;
      margin-top: 15px;
    }

    input{
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 10px;
      outline: none;
      background: #f4f4f4;
    }

    .btn{
      width: 100%;
      margin-top: 25px;
      padding: 12px;
      border: none;
      border-radius: 10px;
      background: #f5c400;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover{
      background: #ddb000;
    }

    .extra{
      margin-top: 20px;
      color: #bbb;
      font-size: 14px;
    }

    .extra a{
      color: #f5c400;
      text-decoration: none;
    }
    
    .icon img{
      width: 200px;
      
    }
    a{
      text-decoration: none;
      color: inherit;
    }
    
/* los iphones para ajustar */
@media (max-width: 768px){

  .login-box{
    width: 90%;
    padding: 25px;
  }

  .icon img{
    width: 110px;
  }

  .logo h1{
    font-size: 30px;
  }

  .logo p{
    font-size: 13px;
  }

  input{
    padding: 10px;
  }

  .btn{
    padding: 10px;
  }

}
    