

   
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body{
      display: flex;
      background: #f4f4f4;
    }

    /* MENU */

    .sidebar{
      width: 240px;
      height: 100vh;
      background: #1f1f1f;
      color: white;
      padding: 20px;
    }

    .logo{
      text-align: center;
      margin-bottom: 40px;
    }

    .logo h1{
      color: #f5c400;
      font-size: 32px;
    }

    .logo p{
      color: #ccc;
      font-size: 14px;
    }

    .menu{
      list-style: none;
    }

    .menu li{
      padding: 15px;
      margin-bottom: 10px;
      background: #2d2d2d;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
    }

    .menu li:hover{
      background: #f5c400;
      color: black;
    }

    /* CONTENIDO */

    .main{
      flex: 1;
      padding: 30px;
    }

    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    .top h2{
      font-size: 30px;
      color: #1f1f1f;
    }

    .btn{
      background: #f5c400;
      border: none;
      padding: 12px 20px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn:hover{
      background: #ddb000;
    }

    /* CARDS */

    .cards{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;
      margin-bottom: 30px;
    }

    .card{
      background: white;
      padding: 25px;
      border-radius: 15px;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    }

    .card h3{
      margin-bottom: 10px;
      color: #555;
    }

    .card p{
      font-size: 28px;
      color: #f5c400;
      font-weight: bold;
    }

    /* TABLA */

    .table-box{
      background: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
      margin-bottom: 30px;
    }

    table{
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    table th{
      background: #f5c400;
      padding: 12px;
      text-align: left;
    }

    table td{
      padding: 12px;
      border-bottom: 1px solid #ddd;
    }

    /* FORMULARIO */

    form input{
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    footer{
      text-align: center;
      margin-top: 20px;
      color: #666;
    }